[submodule "IP/cpu/serv"]
	path = IP/cpu/serv
	url = https://github.com/olofk/serv.git
[submodule "IP/crypto/sha256"]
	path = IP/crypto/sha256
	url = https://github.com/secworks/sha256.git
[submodule "IP/cpu/ibex"]
	path = IP/cpu/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "IP/crypto/opentitan_aes"]
	path = IP/crypto/opentitan_aes
	url = https://github.com/lowRISC/opentitan.git
